.dynamic-background {
  width: 100%;
  height: 100vh; /* Adjust if necessary */
  background-size: cover;
  background-position: center;
  position: relative;
  transition: background-image 1s ease-in-out;
  opacity: 0.5;
}

/* Change the above opacity to the background only */
.dynamic-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  background-size: cover;
  background-position: center;
  opacity: 0.5; /* Apply the opacity to the pseudo-element */
  z-index: -1;
}

.dynamic-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
