.Profile-Page {
  background-image: linear-gradient(
    to right,
    #040c0e,
    #0c1517,
    #111b1e,
    #142226,
    #17292e,
    #17292e,
    #17292e,
    #17292e,
    #142226,
    #111b1e,
    #0c1517,
    #040c0e
  );
}
.profile-page-container {
  display: flex;
  max-width: none;
  margin: 0;
  margin-top: 40px;
  height: 100vh; /* Adjust height to fill the screen */
  padding-left: 20px;
}

.profile-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Background color of your choice */
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: none; /* White border for separation */
  width: 100%;
  text-align: center; /* Center text for bio and user information */
}

.profile-image-placeholder img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.user-bio {
  color: #dca36e; /* White text color */
}

.profile-nav {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center; /* Center the buttons horizontally */
  flex-wrap: wrap; /* Wrap buttons to next line if space is insufficient */
  gap: 100px; /* Add space between buttons */
  padding: 20px;
  width: 100%; /* Full width to center align items */
  max-width: 600px;
  margin: 0 auto;
}

.profile-nav-link {
  background-color: #dca36e;
  color: white;
  padding: 20px 40px;
  font-size: 1.2em;
  text-decoration: none;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  transition: color 0.3s, border-radius 0.3s, background-color 0.3s;
  z-index: 1;
}

.profile-nav-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0;
  height: 0;
  background: #525b56;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  transition: width 0.3s ease, height 0.3s ease;
}

.profile-nav-link:hover::before {
  width: 200%;
  height: 200%;
  animation: hover-effect 0.5s forwards;
}

@keyframes hover-effect {
  to {
    width: 300%; /* Significantly increase the width */
    height: 300%; /* Significantly increase the height */
    background: #525b56;
    /* Center the effect */
    top: -100%;
    left: -100%;
    z-index: -1;
  }
}

.profile-nav-link:hover {
  color: #dca36e; /* Change text color on hover */
}
