.user-info {
  background-image: linear-gradient(
    to right,
    #040c0e,
    #0c1517,
    #111b1e,
    #142226,
    #17292e,
    #17292e,
    #17292e,
    #17292e,
    #142226,
    #111b1e,
    #0c1517,
    #040c0e
  );
}
.user-info-container {
  display: flex;
  /* max-width: 1200px; */
  margin-top: 40px;
  /* height: 100vh; Adjust height to fill the screen */
  padding-left: 20px;
}

.user-info-fields {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.fields-section {
  display: flex;
  flex-direction: column;
  margin: 10px;
  flex-basis: 45%;
}

.section-left,
.section-right {
  flex-basis: calc(50% - 40px); /* Subtract margin from flex-basis */
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.field label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #dca36e;
  opacity: 0.9;
}

.field input[type="text"],
.field input[type="password"],
.field input[type="email"],
.field textarea {
  border: none;
  border-bottom: 2px solid #dca36e;
  padding: 8px 0;
  outline: none;
  transition: border-color 0.3s;
  background-color: rgba(
    82,
    91,
    86,
    0.4
  ); /* Use RGBA for semi-transparent background */
  color: #dca36e; /* Set the text color to white (or any color you prefer) */
  font-size: 1.3rem;
}

.field input[type="text"]:focus,
.field input[type="password"]:focus,
.field input[type="email"]:focus,
.field textarea:focus {
  border-bottom-color: #dca36e; /* Or your theme color */
}

/* Save Changes Button Styles */
button {
  background-color: #ff9900; /* Adjust the color to match your theme */
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

button:hover {
  background-color: #525b56;
}

.user-details {
  flex: 3;
  padding: 20px;
}

.user-profile {
  text-align: center;
  color: #dca36e;
}

.user-profile .profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.user-info-form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.user-info-form label {
  flex-basis: 100%;
  font-weight: bold;
}

.user-info-form input {
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  flex-basis: calc(50% - 20px);
}

.user-info-form input:focus {
  outline: none;
  border-bottom: 2px solid blue;
}

button {
  padding: 10px 20px;
  background-color: orange;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}
